@{
    ViewData["Title"] = "Create Student";
}

<div class="d-flex" id="CreateStudentPage"></div>

@section Scripts {
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="~/js/compiledreact/CreateStudentCompiled.js"></script>
}