::-webkit-scrollbar {
  display: none;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #263C17;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#all-content {
  margin: 0;
}

#sidebar-menu {
  height: 100vh;
  width: 100%;
  background-color: #294316 !important;
  position: relative;
}

#nav-edit-heading {
  color: white;
  background-color: #1c2d10;
  margin-bottom: 0;
  padding: 0.5rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#nav-edit-body {
  background-color: rgba(31, 50, 18, 0.51);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
#nav-edit-body .nav-link svg {
  margin-left: 2rem;
}
#nav-edit-body .nav-link:first-of-type {
  margin-top: 0;
}

.nav-item .nav-link {
  color: white;
  padding: 1rem;
  align-content: center;
  text-align: center;
  border-radius: 25px;
  margin: 0.5rem;
  border: solid transparent 1px;
  display: flex;
  justify-content: start;
}
.nav-item .nav-link svg {
  margin-right: 2rem;
  margin-left: 1.5rem;
}
.nav-item .nav-link:hover {
  border: solid #B7B7A4 1px;
  background-color: rgba(252, 252, 252, 0.25);
}

#offcanvasnav {
  width: 255px;
}

.offcanvas-header {
  padding: 0;
  justify-content: end;
}
.offcanvas-header .nav-item {
  width: 80%;
}

.offcanvas-body {
  padding: 0;
}

#close-offcanvas {
  display: flex;
  align-items: center;
}
#close-offcanvas svg {
  fill: white;
}

#log-out-container {
  position: absolute;
  bottom: 5%;
  width: 100%;
}
#log-out-container #log-out-btn {
  color: white;
  padding: 1rem;
  align-content: center;
  text-align: center;
  border-radius: 25px;
  margin: 0.5rem;
  border: solid transparent 1px;
  display: flex;
  justify-content: start;
}
#log-out-container #log-out-btn svg {
  margin-right: 2rem;
  margin-left: 1.5rem;
}
#log-out-container #log-out-btn:hover {
  border: solid #B7B7A4 1px;
  background-color: rgba(252, 252, 252, 0.25);
}

#top-navigation {
  margin: 0;
}
#top-navigation .page-title {
  margin: 0;
  padding-left: 2rem;
}

/*====================!LOGIN PAGE!===========================================================================================================*/
.login-view {
  width: 100%;
  font-family: Montserrat;
}

.custom-container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.mobile-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-49%);
}
.mobile-logo img {
  height: 120px;
  width: auto;
}
@media (max-height: 780px) {
  .mobile-logo img {
    height: 80px;
  }
}
@media (min-height: 1100px) {
  .mobile-logo img {
    height: 160px;
  }
}

.for-logo {
  position: relative;
}

.background-image-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.logo-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: -30%;
  height: 100%;
}
.logo-text-container h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
.logo-text-container p {
  font-size: 1.25rem;
  font-weight: 400;
}
@media (max-width: 1000px) {
  .logo-text-container h1 {
    font-size: 2rem;
  }
  .logo-text-container p {
    font-size: 1rem;
  }
  .logo-text-container img {
    transform: scale(0.8);
  }
}

.col-sm-8 {
  height: 100vh;
}

.login-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5%;
  height: 100%;
}
@media (max-width: 576px) {
  .login-info-container {
    margin-left: 16.7%;
    margin-right: 16.7%;
  }
}
@media (max-height: 650px) {
  .login-info-container {
    gap: 5px;
  }
}
.login-info-container form {
  width: 100%;
}
.login-info-container form input {
  border-radius: 3px;
  border: 0.5px solid black;
  background: white;
  margin-bottom: 7%;
  height: 70px;
}
@media (max-height: 650px) {
  .login-info-container form input {
    margin-bottom: 10px;
  }
}
.login-info-container form button {
  border-radius: 50px;
  background: #4CAF50;
  margin-bottom: 6%;
  height: 70px;
  border: none;
  color: white;
  font-weight: 600;
}
.login-info-container form button:hover {
  background: #2F7532;
  color: white;
  font-weight: 600;
}
@media (max-height: 650px) {
  .login-info-container form button {
    margin-bottom: 3%;
  }
}
.login-info-container form .checking {
  margin-bottom: 6%;
}
.login-info-container form .checking .row .col-6 {
  display: flex;
  align-items: center;
}
.login-info-container form .checking .row .col-6 .checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.login-info-container form .checking .row .col-6 .checkbox-label input[type=checkbox] {
  margin: 0 0.5rem 0 0;
  transform: scale(1.2);
}
.login-info-container form .checking .row .text-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.login-info-container form .checking .row .forgot {
  color: #4CAF50;
  font-weight: 600;
  text-decoration-line: underline;
}
.login-info-container form .checking .row .forgot:hover {
  color: #2F7532;
}
@media (max-height: 650px) {
  .login-info-container form .checking {
    margin-bottom: 10px;
  }
}

/*==========================!LOGIN PAGE!=================================================================================================================*/