@{
    ViewData["Title"] = "Login Page";
    ViewData["HideNavbar"] = true;
    ViewData["HideFooter"] = true;
    ViewData["HideHeader"] = true;

}

<div class="login-view" id="login"></div>

@section Scripts {

    <script src="~/js/compiledreact/loginCompiled.js"></script>
} 