@{
    ViewData["Title"] = "Login Page";
    ViewData["HideNavbar"] = true;
    ViewData["HideFooter"] = true;
    ViewData["HideHeader"] = true;

}

<div class="login-view" id="login"></div>

@section Scripts {
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="~/js/compiledreact/loginCompiled.js"></script>
} 