@{
    ViewData["Title"] = "Edit Student";
}


<p>Edit Student Page</p>
<div id="EditStudentPage"></div>

@section Scripts {
    <!-- React & React DOM-->
    <script src="~/js/compiledreact/EditStudentCompiled.js"></script>
}