@{
    ViewData["Title"] = "Edit Student";
}


<div class="d-flex" id="EditStudentPage"></div>

@section Scripts {
    <!-- React & React DOM-->
    <script src="~/js/compiledreact/EditStudentCompiled.js"></script>
}