@import 'vars.scss';
//============================================Shared Layout Styles=================================================//

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus, .page-link:focus{
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem $secondary-color;

}

.btn {

    &:not(:focus-visible) {
        box-shadow: none !important;
    }
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
   

    @media (min-width: 768px) {
        font-size: 16px;
    }
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: Montserrat;
}

#all-content {
    margin: 0;
}

#sidebar-menu {
    height: 100vh;
    width: 100%;
    background-color: $primary-color !important;
    position: relative;
}

#nav-edit-heading {
    color: $text-color;
    background-color: $tertiary-color;
    margin-bottom: 0;
    padding: $padding-small;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

#nav-edit-body {
    background-color: rgba(31, 50, 18, 0.51);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    .nav-link {
        svg {
            margin-left: $margin-large;
        }

        &:first-of-type {
            margin-top: 0;
        }
    }
}

.nav-item {
    .nav-link {
        color: $text-color;
        padding: $padding-medium;
        align-content: center;
        text-align: center;
        border-radius: $border-radius;
        margin: $margin-small;
        border: solid transparent 1px;
        display: flex;
        justify-content: start;

        svg {
            margin-right: $margin-large;
            margin-left: $margin-medium;
        }

        &:hover {
            border: solid $hover-border-color 1px;
            background-color: $hover-bg-color;
        }
    }
}

#offcanvasnav {
    width: 255px;
}

.offcanvas-header {
    padding: 0;
    justify-content: end;

    .nav-item {
        width: 80%;
    }
}

.offcanvas-body {
    padding: 0;
}

#close-offcanvas {
    display: flex;
    align-items: center;

    svg {
        fill: $text-color;
    }
}

#log-out-container {
    position: absolute;
    bottom: 5%;
    width: 100%;

    #log-out-btn {
        color: $text-color;
        padding: $padding-medium;
        align-content: center;
        text-align: center;
        border-radius: $border-radius;
        margin: $margin-small;
        border: solid transparent 1px;
        display: flex;
        justify-content: start;
        text-decoration: none;

        svg {
            margin-right: $margin-large;
            margin-left: $margin-medium;
        }

        &:hover {
            border: solid $hover-border-color 1px;
            background-color: $hover-bg-color;
        }
    }
}
    

#top-navigation {
    height: 10vh;
    background-color: $white-bg;

    .page-title {
        margin: 0;
        padding-left: $margin-large;
    }
}

#main-content {
    height: 90vh;
    overflow: auto;
    background-color: #EEF1F4;
    display: flex;
    justify-content: center;

    .primary-btn {
        background-color: $btn-primary;
        color: $text-color;
        border-radius: $border-radius;
        padding: $padding-small $padding-large;

        &:hover {
            background-color: $btn-hover;
        }
    }

    input {
        border-radius: 3px;
        border: .5px solid black;
        width: 100%;
        background-color: $white-bg;

        &::placeholder {
            color: $gray-bg;
        }

       
    }
}

    /*====================!LOGIN PAGE!===========================================================================================================*/

    .login-view {
        width: 100%;
        font-family: Montserrat;
    }

    .custom-container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .mobile-logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-49%);

        img {
            height: 7.5rem;
            width: auto;

            @media(max-height: 780px) {
                height: 5rem;
            }

            @media(min-height: 1100px) {
                height: 10rem;
            }
        }
    }

    .for-logo {
        position: relative;
    }

    .background-image-container {
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
    }



    .logo-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        margin-top: -30%;
        height: 100%;

        h1 {
            font-size: 2.5rem;
            font-weight: 700;
        }

        p {
            font-size: 1.25rem;
            font-weight: 400;
        }

        @media (max-width: 1000px) {
            h1 {
                font-size: 2rem; // Smaller font size for smaller screens
            }

            p { // what the deusce
                font-size: 1rem; // Smaller font size for smaller screens
            }

            img {
                transform: scale(.8);
            }
        }
    }

    .col-sm-8 {
        height: 100vh;
    }

.login-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
    height: 100%;

    @media (max-width: 576px) {
        margin-left: 16.7%;
        margin-right: 16.7%;
    }

    @media (max-width: 992px) {
        align-items: center;

        p {
            text-align: center;
        }
    }

    @media (max-height: 650px) {
        gap: 5px;
    }


    form {
        width: 100%;

        input {
            border-radius: 3px;
            border: .5px solid black;
            background-color: $white-bg;
            margin-bottom: 7%;
            height: 4.375rem;

            &::placeholder {
                color: $gray-bg;
            }

            @media (max-height: 650px) {
                margin-bottom: .625rem;
            }
        }


        button {
            border-radius: 50px;
            background: $btn-primary;
            margin-bottom: 6%;
            height: 4.375rem;
            border: none;
            color: white;
            font-weight: 600;

            &:hover {
                background: $btn-hover;
                color: white;
                font-weight: 600;
            }

            @media (max-height: 650px) {
                margin-bottom: 3%;
            }
        }



        .checking {
            margin-bottom: 6%;

            @media (max-width: 422px) {
                font-size: .75rem;
            }

            .row {
                .col-6 {
                    display: flex;
                    align-items: center;

                    .checkbox-label {
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        input[type="checkbox"] {
                            margin: 0 0.5rem 0 0;
                            transform: scale(1.2);

                            @media (max-width: 422px) {
                                transform: scale(1);
                            }
                        }
                    }
                }

                .text-end {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }

                .forgot {
                    color: #4CAF50;
                    font-weight: 600;
                    text-decoration-line: underline;

                    &:hover {
                        color: $btn-hover;
                    }
                }
            }

            @media (max-height: 650px) {
                margin-bottom: .625rem;
            }
        }
    }
}
//================================================================================//
//=================================Table Styles===================================//
//================================================================================//

#table-container {
    width: 90%;

    .search-bar {
        width: 50%;       
    }


    .round-table {
        border-radius: $border-radius;
        border: solid 1px $gray-bg;
        overflow: hidden;

        table {
            width: 100%;
            margin: 0;
            border-style: hidden;

            & #visitsTable {
                min-height: 25rem;
            }


            thead {
                background: $gray-bg;
            }


            tbody {
                border-style: hidden;

                tr {
                    border-bottom: solid 1px $gray-bg;

                    &:last-of-type {
                        border-bottom: 0;
                    }
                }

                td {
                    padding: 0 $padding-small 0 $padding-small !important;
                    vertical-align: middle;
                    border-right: solid 1px $gray-bg;

                    &:last-of-type {
                        border-right: 0;

                        .bi-trash:hover {
                            fill: red;
                        }

                        .feather:hover {
                            stroke: $btn-primary;
                        }
                    }
                }
            }
        }
    }
}
    //================================================================================//
    //==============================Pagination Styles===============================//
    //================================================================================//

.pagination-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .pagination {
        margin: $margin-small;
        align-items: center;

        .active {
            .page-link {
                background-color: $btn-hover !important;
                border-color: $btn-hover !important;
            }
        }

        .page-item {
            &:first-of-type {
                .page-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    border: 0;

                    &:hover {
                        background-color: transparent !important;
                    }

                    &:not(:focus-visible) {
                        box-shadow: none;
                    }
                }
            }

            &:last-of-type {
                .page-link {
                    background-color: transparent !important;
                    border: 0;

                    &:hover {
                        background-color: transparent !important;
                    }

                    &:not(:focus-visible) {
                        box-shadow: none;
                    }
                }
            }

            .page-link {
                background-color: $btn-primary;
                color: $text-color;
                text-decoration: none;
                border: solid $btn-primary 5px;
                min-width: 33px;
                max-width: 66px;
                vertical-align: middle;
                display: inline-block;
                padding: 0;

                &:before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    padding-top: 100%;
                }
                /*span {
                        display: inline-block;
                        vertical-align: middle;
                        max-width: 90%;
                    }
*/
                svg {
                    fill: $btn-primary;
                }

                &:hover {
                    background-color: $btn-hover;
                    border-color: $btn-hover;
                }
            }
        }
    }
}
    //================================================================================//
    //==============================Student View Styles===============================//
    //================================================================================//

    #students {
        display: flex;
        justify-content: center;
        width: 75%;
        background-color: $white-bg;
        border-radius: $border-radius;
        margin: auto;
        position: relative;
        height: fit-content;
    }


    .topicCheck {
        display: block
    }