//================================================================================//
//=================================Variables======================================//
//================================================================================//

$primary-color: #294316;
$secondary-color: #263C17;
$btn-primary: #4CAF50;
$btn-hover: #3D8640;
$tertiary-color: #1c2d10;
$gray-bg: #B7B7A4;
$white-bg: #FCFFFC;
$hover-border-color: #B7B7A4;
$hover-bg-color: rgba(252, 252, 252, 0.25);
$text-color: #FCFFFC;
$border-radius: 25px;
$padding-small: 0.5rem;
$padding-medium: 1rem;
$padding-large: 1.5rem;
$margin-small: 0.5rem;
$margin-medium: 1.5rem;
$margin-large: 2rem;

