@{
    ViewData["Title"] = "Demo Page";
}

<!-- Title -->
<div class="row title">
    <h3>Title</h3>
    <p>Dr.Teacher</p>
</div>

<!-- Components -->
@* <div id="visits"></div> *@

@section Scripts {
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="~/reactapp/dist/bundle.js"></script>
}